<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FrontEnd</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.2e47fa88c320bd7f4eaa.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.06daa30a2963fa413676.js"></script><script type="text/javascript" src="polyfills.88283b0c3fbc2fef915a.js"></script><script type="text/javascript" src="scripts.bf7dc47ab7b004ef1d45.js"></script><script type="text/javascript" src="main.55cb8280329ac716d43e.js"></script></body>
</html>
